<%= render 'shared/about_us_submenu' %>

<div id="center" class="bg-partners">
  <div class="wrapper">
    <div class="content-block radius-10">
      <div class="partner-list">
	<div class="partner-item radius-10">
	  <a href=""><img src="sample/samp_22.jpg" data-title="OLIVITA" data-resume="Весьма крупная и известная компания на мировом рынке" alt="" /></a>
	</div>
	<div class="partner-item radius-10">
	  <a href=""><img src="sample/samp_21.jpg" data-title="OLIVITA 3" data-resume="Весьма крупная и известная компания на мировом рынке" alt="" /></a>
	</div>
	<div class="partner-item radius-10">
	  <a href=""><img src="sample/samp_23.jpg" data-title="OLIVITA 5" data-resume="Весьма крупная и известная компания на мировом рынке" alt="" /></a>
	</div>
	<div class="partner-item radius-10">
	  <a href=""><img src="sample/samp_21.jpg" data-title="OLIVITA 6" data-resume="Весьма крупная и известная компания на мировом рынке" alt="" /></a>
	</div>
	<div class="partner-item radius-10">
	  <a href=""><img src="sample/samp_22.jpg" data-title="OLIVITA 7" data-resume="Весьма крупная и известная компания на мировом рынке" alt="" /></a>
	</div>
	<div class="partner-item radius-10">
	  <a href=""><img src="sample/samp_23.jpg" data-title="OLIVITA 8" data-resume="Весьма крупная и известная компания на мировом рынке" alt="" /></a>
	</div>
	<div class="partner-item radius-10">
	  <a href=""><img src="sample/samp_22.jpg" data-title="OLIVITA" data-resume="Весьма крупная и известная компания на мировом рынке" alt="" /></a>
	</div>
	<div class="partner-item radius-10">
	  <a href=""><img src="sample/samp_21.jpg" data-title="OLIVITA 2" data-resume="Весьма крупная и известная компания на мировом рынке" alt="" /></a>
	</div>
	<div class="partner-item radius-10">
	  <a href=""><img src="sample/samp_22.jpg" data-title="OLIVITA 1" data-resume="Весьма крупная и известная компания на мировом рынке" alt="" /></a>
	</div>
	<div class="partner-item radius-10">
	  <a href=""><img src="sample/samp_23.jpg" data-title="OLIVITA" data-resume="Весьма крупная и известная компания на мировом рынке" alt="" /></a>
	</div>
	<div class="clear"></div>
      </div>
    </div>
  </div>
</div>
