<%= render 'shared/about_us_submenu' %>

<div id="breadcrumbs">
  <div class="wrapper">
    <%= link_to t(:about_studio), about_us_path %>
    <span class="drop"></span>
    <%= link_to t(:partners), partners_path %>
  </div>
</div>

<div id="center" class="bg-partners">
  <div class="wrapper">
    <div class="content-block radius-10">
      <div class="partner-list">
	
	<% @partners.each do |partner| %>
	  <div class="partner-item radius-10">
	    <a href="">
	      <%= image_tag partner.logo, "data-title" => partner.title, "data-resume" => partner.description %>
	    </a>
	</div>
	<% end %>

	<div class="clear"></div>
      </div>
    </div>
  </div>
</div>
