<%= render 'shared/about_us_submenu' %>

<div id="breadcrumbs">
  <div class="wrapper">
    <a href="">О Студии</a><span class="drop"></span><a href="">Вакансии</a>
  </div>
</div>

<div id="center" class="bg-vacansies">
  <div class="wrapper">
    <div class="content-block radius-10">
      <div class="vacansies-list">
	<div class="vacansies-item radius-10">
	  <div class="name">Нереальный художник не все равно которому</div>
	  <div class="info">Ищем художника, который
	    умеет делать крутые
	    бекграунды для мультиков,
	    с хорошей фантазией,
	    чувством стиля, цвета и
	    композиции, американо-
	    европейской направленности.
	  </div>
	  <div class="more-detail"><a class="radius" href="">Подробнее</a></div>
	</div>
	<div class="vacansies-item radius-10">
	  <div class="name">Нереальный художник не все равно которому</div>
	  <div class="info">Ищем художника, который
	    умеет делать крутые
	    бекграунды для мультиков,
	    с хорошей фантазией,
	    чувством стиля.
	  </div>
	  <div class="more-detail"><a class="radius" href="">Подробнее</a></div>
	</div>
	<div class="vacansies-item radius-10">
	  <div class="name">Нереальный художник не все равно которому</div>
	  <div class="info">Ищем художника, который
	    умеет делать крутые
	    бекграунды для мультиков,
	    с хорошей фантазией,
	    чувством стиля, цвета и
	    композиции, американо-
	    европейской направленности.
	  </div>
	  <div class="more-detail"><a class="radius" href="">Подробнее</a></div>
	</div>
	<div class="vacansies-item radius-10">
	  <div class="name">Нереальный художник не все равно которому</div>
	  <div class="info">Ищем художника, который
	    умеет делать крутые
	    бекграунды для мультиков,
	    с хорошей фантазией,
	    чувством стиля, цвета и
	    композиции, американо-
	    европейской направленности.
	  </div>
	  <div class="more-detail"><a class="radius" href="">Подробнее</a></div>
	</div>
	<div class="clear"></div>
      </div>
    </div>
  </div>
</div>
