<%= render 'shared/about_us_submenu' %>

<div id="breadcrumbs">
  <div class="wrapper">
    <a href="">О Студии</a>
    <span class="drop"></span>
    <a href="">Вакансии</a>
  </div>
</div>

<div id="center" class="bg-vacansies">
  <div class="wrapper">
    <div class="content-block radius-10">
      <div class="vacansies-list">
	<% @jobs.each do |job| %>
	  <div class="vacansies-item radius-10">
	    <div class="name"><%= job.title %></div>
	    <div class="info"><%= job.short_description %></div>
	    <div class="more-detail"><%= link_to "Подробнее", job_path(job), class: :radius %></div>
	  </div>
	<% end %>
	<div class="clear"></div>
      </div>
    </div>
  </div>
</div>
