<div id="footer">
  <div class="wrapper">
    <div class="address">
      <% if I18n.locale == :ru %>
        ООО &laquo;Тунбокс&raquo;<br />
        105120, г. Москва, Центр дизайна ArtPlay,<br />
        Нижняя Сыромятническая, 10, корп. 7, оф. 1
      <% else %>
        Toonboxs &laquo;LLC&raquo;<br />
        105120, Moscow, ArtPlay Design, <br />
        Centre <br />
        Office 1, build. 7, 10 Nizh. <br />
        Syromiatnicheskaya ul.
      <% end %>
    </div>

    <div class="contact-phone">
      <%= link_to "+7 495 782 2723", "callto:+74957822723" %><br />
      <%= link_to "producer@toonbox.ru", "mailto:producer@toonbox.ru" %>
    </div>
    <div class="footer-logo">
      <%= link_to "http://balticit.ru" do %>
        <%= image_tag 'footer-logo.png', alt: 'BalticIT' %>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
</div>
