<div id="footer">
  <div class="wrapper">
    <div class="address">
      <% if I18n.locale == :ru %>
        ООО &laquo;Тунбокс&raquo;<br />
        105120, г. Москва, Центр дизайна ArtPlay,<br />
        Нижняя Сыромятническая, 10, корп. 7, оф. 1
      <% else %>
        LLC &laquo;Tunboks&raquo;<br />
        105120, Moscow, Design Centre ArtPlay, <br />
        Syromiatnicheskaya, 10, Bldg. 7, of. 1
      <% end %>
    </div>

    <div class="contact-phone">
      <%= link_to "+7 495 782 2723", "callto:+74957822723" %><br />
      <%= link_to "producer@toonbox.ru", "mailto:producer@toonbox.ru" %>
    </div>
    <div class="footer-logo">
      <a href="http://balticit.ru">
        <img src="/assets/footer-logo.png" alt="" />
      </a>
      <%= t(:made_balticit) %>
    </div>
    <div class="clear"></div>
  </div>
</div>
