<div id="footer">
  <div class="wrapper">
    <div class="address">
      ООО &laquo;Тунбокс&raquo;<br />
      105120, г. Москва, Центр дизайна ArtPlay,<br />
      Нижняя Сыромятническая, 10, корп. 7, оф. 1
    </div>

    <div class="contact-phone">
      <%= link_to "+7 495 916 7562", "callto:+74959167562" %><br />
      <%= link_to "+7 495 782 2723", "callto:+74957822723" %><br />
      <%= link_to "toonbox@ya.ru", "mailto:toonbox@ya.ru" %>
    </div>
    <div class="footer-logo"><a href="http://balticit.ru"><img src="/assets/footer-logo.png" alt="" /></a></div>
    <div class="clear"></div>
  </div>
</div>
