<div id="header">
  <div class="wrapper">
    <div class="logo">
      <%= link_to image_tag('logo.png'), root_path %>
    </div>
    <div class="menu">
      <ul>
	<li class="current"><a class="radius" href="">Портфолио</a></li>
	<li><a class="radius " href="">О Студии</a></li>
	<li><a class="radius" href="">Новости</a></li>
      </ul>
    </div>
    <div class="header-social radius">
      <div class="social-counter">
	<%= image_tag 'fb-header.png' %>
	<span class="people-count radius">1234</span>
      </div>
      <div class="lang">
	<a class="active radius" href="">Ru</a>
	<a class="radius" href="">En</a>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
