<% if @youtube_view_count && @youtube_view_count > 0 %>
  <div class="youtube-views">
    <div class="title">Общее количество просмотров на youtube</div>
    <div class="count"><%= @youtube_view_count %></div>
  </div>
<% end %>