<div id="breadcrumbs">
  <div class="wrapper">
    <a href="">Новости</a>
  </div>
</div>

<div id="center" class="bg-news">
  <div class="wrapper">

    <div class="content radius-10">
      <div class="content-header top-radius-10">Последние новости</div>

      <div class="news-list">

	<div class="news-item radius-10">
	  <div class="info radius-10">
	    <div class="thumb"><a href=""><img src="sample/samp_45.jpg"></a></div>
	    <div class="name">Какая то интересная новость</div>
	    <div class="resume">Ищем и чтото там делаем и тому подобное труляля</div>

	    <div class="more-detail"><a class="radius" href="">Подробнее</a></div>
	  </div>
	  <div class="news-item-footer">
	    <img src="images/icon-vk.png">
	    <img src="images/icon-fb.png">
	  </div>
	</div>

	<div class="news-item radius-10">
	  <div class="info radius-10">
	    <div class="thumb"><a href=""><img src="sample/samp_45.jpg"></a></div>
	    <div class="name">Какая то интересная новость</div>
	    <div class="resume">Ищем и чтото там делаем и тому подобное труляля</div>

	    <div class="more-detail"><a class="radius" href="">Подробнее</a></div>
	  </div>
	  <div class="news-item-footer">
	    <img src="images/icon-vk.png">
	    <img src="images/icon-fb.png">
	  </div>
	</div>

	<div class="news-item radius-10">
	  <div class="info radius-10">
	    <div class="thumb"><a href=""><img src="sample/samp_45.jpg"></a></div>
	    <div class="name">Какая то интересная новость</div>
	    <div class="resume">Ищем и чтото там делаем и тому подобное труляля</div>

	    <div class="more-detail"><a class="radius" href="">Подробнее</a></div>
	  </div>
	  <div class="news-item-footer">
	    <img src="images/icon-vk.png">
	    <img src="images/icon-fb.png">
	  </div>
	</div>

	<div class="clear"></div>

	<div class="news-other-title">
	  Остальные новости
	</div>

	<div class="news-item radius-10">
	  <div class="info radius-10">
	    <div class="thumb"><a href=""><img src="sample/samp_45.jpg"></a></div>
	    <div class="name">Какая то интересная новость</div>
	    <div class="resume">Ищем и чтото там делаем и тому подобное труляля</div>

	    <div class="more-detail"><a class="radius" href="">Подробнее</a></div>
	  </div>
	  <div class="news-item-footer">
	    <img src="images/icon-vk.png">
	    <img src="images/icon-fb.png">
	  </div>
	</div>

	<div class="news-item radius-10">
	  <div class="info radius-10">
	    <div class="thumb"><a href=""><img src="sample/samp_45.jpg"></a></div>
	    <div class="name">Какая то интересная новость</div>
	    <div class="resume">Ищем и чтото там делаем и тому подобное труляля</div>

	    <div class="more-detail"><a class="radius" href="">Подробнее</a></div>
	  </div>
	  <div class="news-item-footer">
	    <img src="images/icon-vk.png">
	    <img src="images/icon-fb.png">
	  </div>
	</div>

	<div class="clear"></div>

      </div>
    </div>

  </div>
</div>
