<%= render 'shared/about_us_submenu' %>

<div id="breadcrumbs">
  <div class="wrapper">
    <a href="">О Студии</a><span class="drop"></span><a href="">Персоналии</a><span class="drop"></span><a href="">Павел Мунтян</a>
  </div>
</div>

<div id="center" class="bg-about">
  <div class="wrapper">


    <div class="content-column fl radius-10">
      <div class="content-header top-radius-10">Сотрудники</div>
      <div class="content-block">
	<div class="person-list">
	  <ul>
	    <li class="current"><a href="">Павел Мунтян</a></li>
	    <li><a href="">Владимир Пономарев</a></li>
	    <li><a href="">Игорь Сандимиров</a></li>
	    <li><a href="">Евгений Шмидт</a></li>
	    <li><a href="">Елена Волк</a></li>
	    <li><a href="">Артур Меркулов</a></li>
	    <li><a href="">Дмитрий Горбунов</a></li>
	  </ul>
	</div>
      </div>
    </div>

    <div class="content-column fr radius-10">
      <div class="content-header top-radius-10">Информация</div>
      <div class="content-block">
	<div class="person-info">
	  <div class="thumb"><img src="sample/samp_30.jpg" alt="" /></div>
	  <div class="name">Павел Мунтян</div>
	  <div class="type">Художник, Аниматор</div>
	  <div class="resume">
	    С 2003 года Павел Мунтян является автором и руководителем единственного в российском сегменте сети интернет-проекта, посвященного альтернативной и концептуальной мультипликации «KOMS.ru»<br />
	    Подробнее: <a href="">http://cossa.ru/articles/211/21032/</a>


	  </div>
	</div>
      </div>
      <div class="content-footer bottom-radius-10">
	<a href=""><img src="images/icon-wp.png" alt="" /></a>
	<a href=""><img src="images/icon-vk.png" alt="" /></a>
	<a href=""><img src="images/icon-tw.png" alt="" /></a>
      </div>
    </div>

    <div class="clear"></div>
  </div>
</div>
