<div id="breadcrumbs">
  <div class="wrapper">
    &nbsp;
  </div>
</div>

<div class="last-series-list">
  <div class="series-item radius">
    <div class="social-bookmark top-radius">
      <a href=""><span class="fb-mark"></span></a>
      <a href=""><span class="vk-mark"></span></a>
    </div>
    <div class="series-thumb">
      <div class="icon-mask radius"><a class="icon-series" href=""><span>49</span> серий</a></div>
      <div class="preview"><a href=""><img style="width: 272px;" src="sample/samp_1.jpg" alt="" /></a></div>
      <div class="clear"></div>
    </div>
    <div class="series-info">
      <div class="series-title">Реламные ролики</div>
    </div>
  </div>

  <div class="series-item radius">
    <div class="social-bookmark top-radius">
      <a href=""><span class="fb-mark"></span></a>
      <a href=""><span class="vk-mark"></span></a>
    </div>
    <div class="series-thumb">
      <div class="icon-mask radius"><a class="icon-series" href=""><span>49</span> серий</a></div>
      <div class="preview"><a href=""><img style="width: 272px;" src="sample/samp_4.jpg" alt="" /></a></div>
      <div class="clear"></div>
    </div>
    <div class="series-info">
      <div class="series-title">Куми-Куми</div>
    </div>
  </div>

  <div class="series-item radius">
    <div class="social-bookmark top-radius">
      <a href=""><span class="fb-mark"></span></a>
      <a href=""><span class="vk-mark"></span></a>
    </div>
    <div class="series-thumb">
      <div class="icon-mask radius"><a class="icon-series" href=""><span>49</span> серий</a></div>
      <div class="preview"><a href=""><img style="width: 272px;" src="sample/samp_1.jpg" alt="" /></a></div>
      <div class="clear"></div>
    </div>
    <div class="series-info">
      <div class="series-title">Реламные ролики</div>
    </div>
  </div>

  <div class="series-item radius">
    <div class="social-bookmark top-radius">
      <a href=""><span class="fb-mark"></span></a>
      <a href=""><span class="vk-mark"></span></a>
    </div>

    <div class="new-icon-item"><img src="/assets/icon-new.png" data-title="Новый сериал" data-resume="" alt="" /></div>
    <div class="award-icon-item"><img src="/assets/icon-award.png" data-title="Суздаль 2010" data-resume="За лучшую работу в области прикладной анимации" alt="" /></div>

    <div class="series-thumb">
      <div class="icon-mask radius"><a class="icon-series" href=""><span>49</span> серий</a></div>
      <div class="preview"><a href=""><img style="width: 272px;" src="sample/samp_1.jpg" alt="" /></a></div>
      <div class="clear"></div>
    </div>
    <div class="series-info">
      <div class="series-title">Реламные ролики</div>
    </div>
  </div>

  <div class="series-item radius">
    <div class="social-bookmark top-radius">
      <a href=""><span class="fb-mark"></span></a>
      <a href=""><span class="vk-mark"></span></a>
    </div>
    <div class="series-thumb">
      <div class="icon-mask radius"><a class="icon-series" href=""><span>49</span> серий</a></div>
      <div class="preview"><a href=""><img style="width: 272px;" src="sample/samp_4.jpg" alt="" /></a></div>
      <div class="clear"></div>
    </div>
    <div class="series-info">
      <div class="series-title">Куми-Куми</div>
    </div>
  </div>

  <div class="series-item radius">
    <div class="social-bookmark top-radius">
      <a href=""><span class="fb-mark"></span></a>
      <a href=""><span class="vk-mark"></span></a>
    </div>
    <div class="series-thumb">
      <div class="icon-mask radius"><a class="icon-series" href=""><span>49</span> серий</a></div>
      <div class="preview"><a href=""><img style="width: 272px;" src="sample/samp_4.jpg" alt="" /></a></div>
      <div class="clear"></div>
    </div>
    <div class="series-info">
      <div class="series-title">Куми-Куми</div>
    </div>
  </div>
  <div class="clear"></div>
</div>
