<%= render 'shared/about_us_submenu' %>

<div id="breadcrumbs">
  <div class="wrapper">
    <a href="">О Студии</a><span class="drop"></span><a href="">Отзывы</a>
  </div>
</div>

<div id="center" class="bg-feedback">
  <div class="wrapper">
    <div class="content-block radius-10">
      <div class="feedback-list">

	<div class="feedback-item" style="width:20%">
	  <div class="feedback-dialog radius-10">
	    <div class="resume">
	      У студии Toonbox и компании Wacom СНГ за год общения сложились по истине крепкие партнерские отношения.
	      Мы рады, что специалисты и используют в своей повседневной деятельности планшеты нашей компании. Искренне надеемся, что и в дальнейшем. компания.<br />

	      будет получать удовольствие от использования опыт начинающим аниматорам. Желаем студии профессиональных побед и творческих находок.»
	    </div>
	    <div class="name">Назание канторы</div>
	    <span class="arrow"></span>
	  </div>
	  <div class="feedback-logo"><img src="sample/samp_22.jpg"></div>
	</div>

	<div class="feedback-item" style="width:30%">
	  <div class="feedback-dialog radius-10">
	    <div class="resume">
	      У студии Toonbox и компании Wacom СНГ за год общения сложились по истине крепкие партнерские отношения.
	      Мы рады, что специалисты Toonbox остановили свой выбор на нашей продукции и используют в своей повседневной деятельности планшеты нашей компании. Искренне надеемся, что и в дальнейшем. компания.

	    </div>
	    <div class="name">Назание канторы</div>
	    <span class="arrow"></span>
	  </div>
	  <div class="feedback-logo"><img src="sample/samp_23.jpg"></div>
	</div>

	<div class="feedback-item" style="width:19%">
	  <div class="feedback-dialog radius-10">
	    <div class="resume">
	      У студии Toonbox и компании Wacom СНГ за год общения сложились по истине крепкие партнерские отношения.
	      Мы рады, что специалисты Toonbox остановили свой выбор на нашей продукции и используют в своей повседневной деятельности планшеты нашей компании. Искренне надеемся, что и в дальнейшем. компания.

	    </div>
	    <div class="name">Назание канторы</div>
	    <span class="arrow"></span>
	  </div>
	  <div class="feedback-logo"><img src="sample/samp_22.jpg"></div>
	</div>

	<div class="feedback-item" style="width:22%">
	  <div class="feedback-dialog radius-10">
	    <div class="resume">
	      У студии Toonbox и компании Wacom СНГ за год общения сложились по истине крепкие партнерские отношения.
	      Мы рады, что специалисты Toonbox остановили свой выбор на нашей продукции и используют в своей повседневной деятельности планшеты нашей компании. Искренне надеемся, что и в дальнейшем. компания.

	    </div>
	    <div class="name">Назание канторы</div>
	    <span class="arrow"></span>
	  </div>
	  <div class="feedback-logo"><img src="sample/samp_21.jpg"></div>
	</div>

	<div class="clear"></div>

	<div class="feedback-item" style="width:22%">
	  <div class="feedback-dialog radius-10">
	    <div class="resume">
	      У студии Toonbox и компании Wacom СНГ за год общения сложились по истине крепкие партнерские отношения.
	      Мы рады, что специалисты Toonbox остановили свой выбор на нашей продукции и используют в своей повседневной деятельности планшеты нашей компании. Искренне надеемся, что и в дальнейшем. компания.

	    </div>
	    <div class="name">Назание канторы</div>
	    <span class="arrow"></span>
	  </div>
	  <div class="feedback-logo"><img src="sample/samp_21.jpg"></div>
	</div>

	<div class="feedback-item" style="width:20%">
	  <div class="feedback-dialog radius-10">
	    <div class="resume">
	      У студии Toonbox и компании Wacom СНГ за год общения сложились по истине крепкие партнерские отношения.
	      Мы рады, что специалисты и используют в своей повседневной деятельности планшеты нашей компании. Искренне надеемся, что и в дальнейшем. компания.<br />

	      будет получать удовольствие от использования опыт начинающим аниматорам. Желаем студии профессиональных побед и творческих находок.»
	    </div>
	    <div class="name">Назание канторы</div>
	    <span class="arrow"></span>
	  </div>
	  <div class="feedback-logo"><img src="sample/samp_22.jpg"></div>
	</div>

	<div class="feedback-item" style="width:30%">
	  <div class="feedback-dialog radius-10">
	    <div class="resume">
	      У студии Toonbox и компании Wacom СНГ за год общения сложились по истине крепкие партнерские отношения.
	      Мы рады, что специалисты Toonbox остановили свой выбор на нашей продукции и используют в своей повседневной деятельности планшеты нашей компании. Искренне надеемся, что и в дальнейшем. компания.

	    </div>
	    <div class="name">Назание канторы</div>
	    <span class="arrow"></span>
	  </div>
	  <div class="feedback-logo"><img src="sample/samp_23.jpg"></div>
	</div>

	<div class="feedback-item" style="width:19%">
	  <div class="feedback-dialog radius-10">
	    <div class="resume">
	      У студии Toonbox и компании Wacom СНГ за год общения сложились по истине крепкие партнерские отношения.
	      Мы рады, что специалисты Toonbox остановили свой выбор на нашей продукции и используют в своей повседневной деятельности планшеты нашей компании. Искренне надеемся, что и в дальнейшем. компания.

	    </div>
	    <div class="name">Назание канторы</div>
	    <span class="arrow"></span>
	  </div>
	  <div class="feedback-logo"><img src="sample/samp_22.jpg"></div>
	</div>



	<div class="clear"></div>

      </div>
    </div>
  </div>
</div>
