<%= render 'shared/about_us_submenu' %>

<div class="page-bg bg-partners"></div>

<div id="breadcrumbs">
  <div class="wrapper">
    <%= link_to t(:about_studio), about_us_path %>
  </div>
</div>

<div id="center">
  <div class="wrapper">
    <div class="content-block radius-10">
      <div class="partner-list">
        <%= raw(@description[:description]) %>
       </div>
    </div>

    <div class="clear"></div>
  </div>
</div>